<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../cdn/css/class-list-app.css">
    <title>Class List</title>
</head>

<body>

    <div class="container-fluid">
        <div class="h2 list-heading">Class List</div>

        <div class="list-wrapper">
            <div class="list">
                <div class="row">
                    <div class="col-3">
                        <small class="student-info-heading">Name</small>
                    </div>
                    <div class="col-3">
                        <small class="student-info-heading">Student Number</small>
                    </div>
                    <div class="col-3">
                        <small class="student-info-heading">Year of Study</small>
                    </div>
                </div>
                <hr class="heading-hr">

                <div class="students"></div>

            </div>

            <div class="btn-addstudent">
                <button data-toggle="modal" data-target="#add-student-form" type="button"
                    class="btn btn-sm btn-outline-success" id="add-student">Add</button>
            </div>

        </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="add-student-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Student Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/class/api/create" method="POST">
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" id="name" name="name" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="studentNumber">Student Number</label>
                                            <input type="text" id="studentNumber" name="studentNumber"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="yearOfStudy">Year</label>
                                    <select name="yearOfStudy" id="yearOfStudy" class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Student</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../cdn/js/class-list-app.js"></script>

</body>

</html>