<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../cdn/css/index.css">
    <title>Index Page</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4 text-center">Welcome to Class-List</h1>
        <p class="lead text-center">This is a simple class web appilcation to manage a list of students in a classroom
        </p>
        <hr class="my-4">
        <p class="lead text-center">
            <a role="button" href="/class" class="btn btn-primary btn-lg">View List</a>
        </p>
    </div>

</body>

</html>