* {
    box-sizing: border-box;
}

.jumbotron {
    height: 100vh;
    background-image: url(../img/background-books.jpg);
    background-size: cover
}

.jumbotron-body {
    margin-top: 20vh;
    color: hsla(0, 0%, 100%, 0.925)
}

hr {     
    background-color: darkgray;
    height: 1px;
    width: 80%
}

